<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
 var animals =
     new List<Tuple<string, string>>
     {
        // Maximum 128 total tools
        /*Tuple.Create("Aardwolf","whine"),
        Tuple.Create("African Wild Dog","whine"),
        Tuple.Create("Alpaca","hum"),
        Tuple.Create("Antelope","snort"),
        Tuple.Create("Arctic Fox","yelp"),
        Tuple.Create("Argali","bleat"),
        Tuple.Create("Asian Golden cat","purr"),
        Tuple.Create("Babirusa","grunt"),
        Tuple.Create("Badger","growl"),
        Tuple.Create("Barasingha","bark"),
        Tuple.Create("Bat","screech"),
        Tuple.Create("Bat-Eared Fox","yelp"),
        Tuple.Create("Bay Cat","purr"),
        Tuple.Create("Bear","growl"),
        Tuple.Create("Beaver","gnaw"),
        Tuple.Create("Bee","buzz"),
        Tuple.Create("Bighorn Sheep","bleat"),
        Tuple.Create("Binturong","growl"),
        Tuple.Create("Bird","chirp"),
        Tuple.Create("Bison","bellow"),
        Tuple.Create("Black-Footed Cat","purr"),
        Tuple.Create("Black-Tailed Deer","snort"),
        Tuple.Create("Blanford's Fox","yelp"),
        Tuple.Create("Boar","grunt"),
        Tuple.Create("Bobcat","purr"),
        Tuple.Create("Bongo","bleat"),
        Tuple.Create("Buffalo","bellow"),
        Tuple.Create("Bush Dog","yelp"),
        Tuple.Create("Bushbuck","bark"),
        Tuple.Create("Cacomistle","chirp"),
        Tuple.Create("Camel","grunt"),
        Tuple.Create("Cape Fox","yelp"),
        Tuple.Create("Caracal","purr"),
        Tuple.Create("Caribou","grunt"),
        Tuple.Create("Cat","meow"),
        Tuple.Create("Centaur","neigh"),
        Tuple.Create("Chamois","whistle"),
        Tuple.Create("Cheetah","chirp"),
        Tuple.Create("Chicken","cluck"),
        Tuple.Create("Chital","bark"),
        Tuple.Create("Civet","growl"),
        Tuple.Create("Clouded Leopard","purr"),
        Tuple.Create("Coati","snort"),
        Tuple.Create("Corsac Fox","yelp"),
        Tuple.Create("Cougar","purr"),
        Tuple.Create("Cow","mooo"),
        Tuple.Create("Coyote","yip"),
        Tuple.Create("Crab-Eating Fox","yelp"),
        Tuple.Create("Cricket","chirp"),
        Tuple.Create("Crocodile","snap"),
        Tuple.Create("Cuckoo","cuckoo"),
        Tuple.Create("Culpeo","yelp"),
        Tuple.Create("Dall Sheep","bleat"),
        Tuple.Create("Deer","snort"),
        Tuple.Create("Dhole","whine"),
        Tuple.Create("Dik-dik","whistle"),
        Tuple.Create("Dingo","yelp"),
        Tuple.Create("Dog","woof"),
        Tuple.Create("Dolphin","click"),
        Tuple.Create("Donkey","hee-haw"),
        Tuple.Create("Duck","quack"),
        Tuple.Create("Duiker","bark"),
        Tuple.Create("Eagle","screech"),
        Tuple.Create("Eland","snort"),
        Tuple.Create("Elephant","trumpet"),
        Tuple.Create("Elk","bugle"),
        Tuple.Create("Emu","drum"),
        Tuple.Create("Ermine","squeak"),
        Tuple.Create("Fallow Deer","bark"),
        Tuple.Create("Fennec Fox","yelp"),
        Tuple.Create("Ferret","dook"),
        Tuple.Create("Fisher","chirp"),
        Tuple.Create("Fishing Cat","purr"),
        Tuple.Create("Flamingo","squawk"),
        Tuple.Create("Flat-Headed Cat","purr"),
        Tuple.Create("Fossa","growl"),
        Tuple.Create("Fox","yelp"),
        Tuple.Create("Frog","ribbit"),
        Tuple.Create("Gazelle","snort"),
        Tuple.Create("Genet","growl"),
        Tuple.Create("Gerenuk","bleat"),
        Tuple.Create("Giraffe","hum"),
        Tuple.Create("Goat","bleat"),
        Tuple.Create("Golden Cat","purr"),
        Tuple.Create("Goral","bleat"),
        Tuple.Create("Gray Fox","yelp"),
        Tuple.Create("Guanaco","hum"),
        Tuple.Create("Hartebeest","snort"),
        Tuple.Create("Hawk","screech"),
        Tuple.Create("Hedgehog","snuffle"),
        Tuple.Create("Hippo","grunt"),
        Tuple.Create("Hoary Fox","yelp"),
        Tuple.Create("Hog Deer","bark"),
        Tuple.Create("Horse","neigh"),
        Tuple.Create("Hyena","laugh"),
        Tuple.Create("Ibex","bleat"),
        Tuple.Create("Impala","snort"),
        Tuple.Create("Island Fox","yelp"),
        Tuple.Create("Jackal","yelp"),
        Tuple.Create("Jaguar","purr"),
        Tuple.Create("Jungle Cat","purr"),
        Tuple.Create("Kangaroo","thump"),
        Tuple.Create("Kinkajou","whine"),
        Tuple.Create("Kit Fox","yelp"),
        Tuple.Create("Koala","snore"),
        Tuple.Create("Kudu","bark"),
        Tuple.Create("Leopard Cat","purr"),
        Tuple.Create("Leopard","purr"),
        Tuple.Create("Liger","roar"),
        Tuple.Create("Lion","roar"),
        Tuple.Create("Llama","hum"),
        Tuple.Create("Lynx","purr"),
        Tuple.Create("Maned Wolf","roar"),
        Tuple.Create("Manul","purr"),
        Tuple.Create("Marbled Cat","purr"),
        Tuple.Create("Margay","purr"),
        Tuple.Create("Markhor","bleat"),
        Tuple.Create("Marten","chirp"),
        Tuple.Create("Meerkat","chirp"),
        Tuple.Create("Mink","squeak"),
        Tuple.Create("Mongoose","chatter"),
        Tuple.Create("Monkey","oo-oo-aa-aa"),
        Tuple.Create("Moose","bellow"),
        Tuple.Create("Mouflon","bleat"),
        Tuple.Create("Mouse","squeak"),
        Tuple.Create("Mule Deer","snort"),
        Tuple.Create("Mule","hee-haw"),
        Tuple.Create("Muntjac","bark"),
        Tuple.Create("Musk Deer","whistle"),
        Tuple.Create("Nyala","bark"),
        Tuple.Create("Ocelot","purr"),
        Tuple.Create("Okapi","chuff"),
        Tuple.Create("Oryx","snort"),
        Tuple.Create("Ostrich","boom"),
        Tuple.Create("Otter","chirp"),
        Tuple.Create("Owl","hoot"),
        Tuple.Create("Pale Fox","yelp"),
        Tuple.Create("Pallas Cat","purr"),
        Tuple.Create("Panda","bleat"),
        Tuple.Create("Parrot","squawk"),
        Tuple.Create("Peacock","scream"),
        Tuple.Create("Peccary","grunt"),
        Tuple.Create("Pegasus","neigh"),
        Tuple.Create("Penguin","honk"),
        Tuple.Create("Pig","oink"),
        Tuple.Create("Polar Bear","growl"),
        Tuple.Create("Polecat","squeak"),
        Tuple.Create("Pony","neigh"),
        Tuple.Create("Porcupine","grunt"),
        Tuple.Create("Pronghorn","snort"),
        Tuple.Create("Pudu","whistle"),
        Tuple.Create("Puma","purr"),
        Tuple.Create("Rabbit","thump"),
        Tuple.Create("Raccoon Dog","whine"),
        Tuple.Create("Raccoon","trill"),
        Tuple.Create("Red Deer","bellow"),
        Tuple.Create("Red Fox","yelp"),
        Tuple.Create("Red Panda","whine"),
        Tuple.Create("Reindeer","grunt"),
        Tuple.Create("Rhino","snort"),
        Tuple.Create("Ringtail","chirp"),
        Tuple.Create("Roan","snort"),
        Tuple.Create("Roe Deer","bark"),
        Tuple.Create("Rooster","cock-a-doodle-doo"),
        Tuple.Create("Ruppell's Fox","yelp"),*/
        Tuple.Create("Rusa","bark"),
        Tuple.Create("Rusty-Spotted Cat","purr"),
        Tuple.Create("Sable","chirp"),
        Tuple.Create("Saiga","grunt"),
        Tuple.Create("Sambar","bark"),
        Tuple.Create("Sand Cat","purr"),
        Tuple.Create("Seal","bark"),
        Tuple.Create("Serow","bleat"),
        Tuple.Create("Serval","purr"),
        Tuple.Create("Sheep","baa"),
        Tuple.Create("Short-Eared Dog","yelp"),
        Tuple.Create("Sika Deer","squeak"),
        Tuple.Create("Sitatunga","bark"),
        Tuple.Create("Skunk","hiss"),
        Tuple.Create("Snake","hiss"),
        Tuple.Create("Snow Leopard","purr"),
        Tuple.Create("Springbok","snort"),
        Tuple.Create("Squirrel","chatter"),
        Tuple.Create("Stoat","squeak"),
        Tuple.Create("Swift Fox","yelp"),
        Tuple.Create("Tahr","bleat"),
        Tuple.Create("Tapir","snort"),
        Tuple.Create("Tibetan Fox","yelp"),
        Tuple.Create("Tiger","grrr"),
        Tuple.Create("Tigon","roar"),
        Tuple.Create("Turkey","gobble"),
        Tuple.Create("Unicorn","neigh"),
        Tuple.Create("Urial","bleat"),
        Tuple.Create("Vicuna","hum"),
        Tuple.Create("Walrus","grunt"),
        Tuple.Create("Warthog","grunt"),
        Tuple.Create("Water Deer","whistle"),
        Tuple.Create("Waterbuck","snort"),
        Tuple.Create("Weasel","squeak"),
        Tuple.Create("Whale","sing"),
        Tuple.Create("White-Tailed Deer","snort"),
        Tuple.Create("Wildcat","purr"),
        Tuple.Create("Wildebeest","gru-gru"),
        Tuple.Create("Wolf","howl"),
        Tuple.Create("Wolverine","growl"),
        Tuple.Create("Zebra","bray"),
     };
 #>
namespace Microagents.Tools;

using Microsoft.SemanticKernel;
using System.ComponentModel;

public partial class AnimalSounds : DiagnosticPlugin
{
<# foreach (var animal in animals) { 
     var functionName = animal.Item1.Replace(" ", "").Replace("-", "").Replace("'", "");
#>

    [KernelFunction]
    [Description("Get the animal sound made by a <#= animal.Item1 #>.")]
    public string Get<#= functionName #>Sound()
    {
        return GetAnimalSound(nameof(Get<#= functionName #>Sound), "<#= animal.Item1 #>", "<#= animal.Item2 #>");
    }

<# } #>
}