<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
 var animals =
     new List<Tuple<string, string>>
     {
        Tuple.Create("Antelope","snort"),
        Tuple.Create("Bat","screech"),
        Tuple.Create("Bear","growl"),
        Tuple.Create("Beaver","gnaw"),
        Tuple.Create("Bee","buzz"),
        Tuple.Create("Bird","chirp"),
        Tuple.Create("Boar","grunt"),
        Tuple.Create("Cat","meow"),
        Tuple.Create("Chicken","cluck"),
        Tuple.Create("Cow","mooo"),
        Tuple.Create("Cricket","chirp"),
        Tuple.Create("Crocodile","snap"),
        Tuple.Create("Deer","snort"),
        Tuple.Create("Dog","woof"),
        Tuple.Create("Donkey","hee-haw"),
        Tuple.Create("Duck","quack"),
        Tuple.Create("Eagle","screech"),
        Tuple.Create("Elephant","trumpet"),
        Tuple.Create("Fox","yelp"),
        Tuple.Create("Frog","ribbit"),
        Tuple.Create("Goat","bleat"),
        Tuple.Create("Horse","neigh"),
        Tuple.Create("Lion","roar"),
        Tuple.Create("Monkey","oo-oo-aa-aa"),
        Tuple.Create("Mouse","squeak"),
        Tuple.Create("Mule","hee-haw"),
        Tuple.Create("Owl","hoot"),
        Tuple.Create("Parrot","squawk"),
        Tuple.Create("Pig","oink"),
        Tuple.Create("Pony","neigh"),
        Tuple.Create("Rabbit","thump"),
        Tuple.Create("Raccoon","trill"),
        Tuple.Create("Rooster","cock-a-doodle-doo"),
        Tuple.Create("Sheep","baa"),
        Tuple.Create("Snake","hiss"),
        Tuple.Create("Squirrel","chatter"),
        Tuple.Create("Tiger","grrr"),
        Tuple.Create("Turkey","gobble"),
        Tuple.Create("Walrus","grunt"),
        Tuple.Create("Wolf","howl"),
        Tuple.Create("Zebra","bray"),
     };
 #>
namespace Microagents.Tools;

using Microsoft.SemanticKernel;
using System.ComponentModel;

public partial class AnimalSounds : DiagnosticPlugin
{
<# foreach (var animal in animals) { 
     var functionName = animal.Item1.Replace(" ", "").Replace("-", "").Replace("'", "");
#>

    [KernelFunction]
    [Description("Get the animal sound made by a <#= animal.Item1 #>.")]
    public string Get<#= functionName #>Sound()
    {
        return GetAnimalSound(nameof(Get<#= functionName #>Sound), "<#= animal.Item1 #>", "<#= animal.Item2 #>");
    }

<# } #>
}